{% extends 'base.html.twig' %}

{% block title %}Liste des statistiques{% endblock %}

{% block body %}

    <h2 class="mb-3">Toutes les statistiques</h2><small>Plus récent au moins récent</small>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Pays</th>
                <th>Date de création</th>
                <th>Contaminés</th>
                <th>Guéris</th>
                <th>Zombie</th>
            </tr>
        </thead>
        <tbody>
        {% for statistique in statistiques|sort((b, a) => a.createdAt <=> b.createdAt) %}
            {% if statistique.recovered < statistique.zombie %}
                <tr style="background-color: #ffbbbb">
            {% else %}
                <tr style="background-color: #d4ffc9">
            {% endif %}
                <td>{{ statistique.pays.name }}</td>
                <td>{{ statistique.createdAt ? statistique.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ statistique.contaminated }}</td>
                <td>{{ statistique.recovered }}</td>
                <td>{{ statistique.zombie }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">IL n'y a pas de statistiques.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
