{% extends 'base.html.twig' %}

{% block title %}Erreur 403{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center p-3">
                <h2>Erreur 403, accès non autorisé.</h2>
                <p class="my-2">Une erreur est survenue, vous ne pouvez pas d'acceder à cette page !</p>
                <a href="{{ path('index') }}" class="btn btn-dark">Page d'accueil</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}