{% extends 'base.html.twig' %}

{% block title %}Coronavirus{% endblock %}

{% block body %}

    <h2 class="mb-3">Dernières statistiques mondial</h2>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Pays</th>
            <th scope="col">Date dernière statistique</th>
            <th scope="col">Virus</th>
            <th scope="col">Contaminés</th>
            <th scope="col">Guéris</th>
            <th scope="col">Zombies</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for singlePays in allPays|sort((a, b) => a.name <=> b.name)  %}
            {% if singlePays.lastStatistique().createdAt %}
                {% if singlePays.lastStatistique().recovered < singlePays.lastStatistique().zombie %}
                <tr style="background-color: #ffbbbb">
                {% else %}
                <tr style="background-color: #d4ffc9">
                {% endif %}
                    <td>{{ singlePays.lastStatistique().pays.name }}</td>
                    <td>{{ singlePays.lastStatistique().createdAt ? singlePays.lastStatistique().createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ singlePays.lastStatistique().virus.name }}</td>
                    <td>{{ singlePays.lastStatistique().contaminated }}</td>
                    <td>{{ singlePays.lastStatistique().recovered }}</td>
                    <td>{{ singlePays.lastStatistique().zombie }}</td>
                    <td><a href="{{ path('pays_show', {'id': singlePays.lastStatistique().pays.id}) }}" class="btn btn-primary btn-sm">Voir le pays</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Pas de statistiques pour {{ singlePays.name }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
