{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}

    <h2 class="mb-3">Statistique par jour : {{ pays.name }}</h2>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Date de création</th>
            <th scope="col">Virus</th>
            <th scope="col">Contaminés</th>
            <th scope="col">Guéris</th>
            <th scope="col">Zombies</th>
        </tr>
        </thead>
        <tbody>
        {% for statistique in pays.statistiques %}
            {% if statistique.recovered < statistique.zombie %}
            <tr style="background-color: #ffbbbb">
            {% else %}
            <tr style="background-color: #d4ffc9">
            {% endif %}
                <td>{{ statistique.createdAt ? statistique.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('virus_show', {'id': statistique.virus.id}) }}" class="btn btn-primary btn-sm mr-2">{{ statistique.virus.name }}</a>
                </td>
                <td>{{ statistique.contaminated }}</td>
                <td>{{ statistique.recovered }}</td>
                <td>{{ statistique.zombie }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
