{% extends 'base.html.twig' %}

{% block title %}Virus index{% endblock %}

{% block body %}

    <h2 class="mb-3">Liste des pays</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Indice de dangerosité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for singleVirus in virus %}
            <tr>
                <td>{{ singleVirus.name }}</td>
                <td>{{ singleVirus.indexDanger }}</td>
                <td class="d-flex">
                    <a href="{{ path('virus_show', {'id': singleVirus.id}) }}" class="btn btn-primary btn-sm mr-2">Statistique pour ce virus</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun virus trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
